@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  outline: 1px solid lightblue;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header{
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: space-between;
}
.footer ul, .header ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li a {
  text-decoration: none;
  color: rgb(59, 59, 59);
  padding: 1rem;
  
}
.left-links, .right-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.footer{
  width: 100%;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  background-color: #eee;
}

